.cabecalho {
    display: flex; 
    align-items: center;
    gap: 60px; /*entre a foto e o texto*/
    background-color: lightblue;
    padding: 20px; /*espaço interno porque a imagem estava colando na borda*/
    border: 3px darkblue solid;
    border-radius: 30px; /*aqui usamos px porque queremos um arredondamento consistente*/
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%; /*transforma o quadrado em círculo*/
    border: 3px darkblue solid;
}

.meu-texto h1 {
    color: darkblue;
    margin: 0; /*remove espaços estranhos padrão do navegador*/
    text-transform: uppercase;
    font-size: 2rem;
}

.meu-texto p {
    color: darkblue;
    font-size: 1.5rem;
    margin: 5px 0 0 0; /*espaço acima do parágrafo*/
}

main {
    margin-top: 40px; /*para separar o cabeçalho do resto da página*/
}

.sobre-mim {
    border: 2px darkblue solid;
    background-color: lightblue;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.sobre-mim h2 {
    color: darkblue;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.sobre-mim p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: justify;
    color: #333;
}